body{
    font-family: 'Kaushan Script', cursive;
    background-color: darkturquoise;
}

.example1, .example2, .example3, .example4, .example5 {
    font-family: 'Playfair Display SC', serif;
    margin-bottom: 20px;
}
.example1 input, .example2 input, .example3 input, .example4 input, .example6 input{
    font-family: 'Kaushan Script', cursive;
    padding: 5px;
    border: solid;
    margin-bottom: 5px;
    border-radius: 5px;
}

.example1 button{
    font-family: 'Kaushan Script', cursive;
    padding: 5px;
    border: solid;
    border-radius: 5px;
    background-color: darkgoldenrod
}