<!DOCTYPE html>
<html>
<head>
<title>Basic Page</title>
<link rel="stylesheet" type="text/css" href="mystyle.css">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Playfair+Display+SC" rel="stylesheet">
<script src="app.js"></script>
<script src="ctrl.js"></script>
</head>
<body ng-app="myApp">
    
<h1>AngularJS Only</h1>
    
<div class="example1" ng-controller="myCtrl">
Example 1 <br>
<input type="text" placeholder="Anything you want" ng-model="firstName">
<p>My name is {{firstName}}</p>
<button>Submit</button>
</div>    
    
<!--- Thi Example shows u dont have to put variables in scope --->
<div class="example2" ng-init="quantity=1; price=5">
Example 2<br>
Quantity: <input type="number" ng-model="quantity">
Costs: <input type="number" ng-model="price">
Total in dollar {{quantity * price | currency}}
<br> <p>This example shows you don't need scope for variables all the time</p>
</div>    

<div class="example3">
Example 3
<p>This is an example of validation using Angular</p>
<form name="myForm">
<input type="email" name="myAddress" ng-model="text" placeholder="Enter Valid Email..">
<span ng-show="myForm.myAddress.$invalid">Not a valid e-mail address</span>
</form>
</div>

<div class="example4" ng-controller="myCtrl">
Example 4
<p>In this example, the controller code is set in an external file seperate from app.js</p>
<input type="text" placeholder="First Name" ng-model="firstName">
<input type="text" placeholder="Last Name" ng-model="lastName">
{{firstName +' '+ lastName}}
</div>    

<div class="example5">
Example 5
<p>The rootScope's favorite color: {{color}}</p>

<div ng-controller="myCtrl">
    <p>The scope of the controller's favorite color: {{color}}</p>
</div>

<p>The rootScope's favorite color is still: {{color}}</p>    
</div>

<div class="example6" ng-controller="myCtrl">
Example 6<br>
<input type="text" ng-model="test" placeholder="Enter a letter to filter">    
<ul>
    <li ng-repeat="x in names | filter:test">
        {{ x }}
    </li>
</ul>
</div>

<div class="example7" ng-controller="myCtrl">
<table border="1" width="100%">
    <tr>
        <th ng-click="orderByMe('name')">Name</th>
        <th ng-click="orderByMe('country')">Country</th>
    </tr>
    <tr ng-repeat="x in tablenames | orderBy:myOrderBy">
        <td>{{x.name}}</td>
        <td>{{x.country}}</td>
    </tr>
</table>
    
</div>
    
</body>
</html>